@charset 'utf-8';

/* font */
/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/Pretendard-Regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../font/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../font/Pretendard-Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
} */

body{
	--mainCol: #2755FF;
}

html {
    -webkit-text-size-adjust: none;
}

body *{
	word-break: keep-all;
	letter-spacing: -0.025em;
}

#wrap{
	/* overflow-x: hidden; */
	width: 100%;
}

/* common */
.inner{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}

.mb{
	display: none !important;
}

.imgBox img{
	max-width: 100%;
}

/* header */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: all 0.6s;
}

.header .inner{
	
}

.header.on{
	background: rgba(255,255,255,0.6);
	backdrop-filter: blur(10px);
	/* box-shadow: rgba(0,0,0,0.2) 0 0 10px; */
}

.header .inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
}

.header .logo{
	width: 120px;
	position: relative;
}

.header .logo img{
	width: 100%;
	transition: all 0.4s;
}

.header.on .logo img{
	opacity: 0;
}

.header .logo img.logoOn{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.header.on .logo img.logoOn{
	opacity: 1;
}

.header nav{
	display: flex;
	align-items: center;
}

.header nav .gnb{
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.header nav .gnb li{
	margin-left: 30px;
	position: relative;
}

.header nav .gnb li::after{
	content: '';
	display: block;
	width: 0%;
	opacity: 0;
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translate(-50%,0);
	transition: all .6s;
}

.header nav .gnb li.on::after,
.header nav .gnb li:hover::after{
	opacity: 1;
	width: 100%;
}

.header.on nav .gnb li::after{
	background: #111;
}

.header nav .gnb li a{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	transition: all 0.4s;
}

.header.on nav .gnb li a{
	color: #111;
	font-weight: 800;
}

.header nav .global{
	display: flex;
	align-items: center;
}

.header nav .global li.logIn a{
	display: block;
	background: #fff;
	border-radius: 100px;
	padding: 12px 30px;
	font-size: 14px;
	font-weight: 600;
	box-shadow: rgba(0,0,0,0.1) 0 0 4px;
	transition: all 0.3s;
}

.header nav .global li.logIn a:active{
	background-color: #111;
}

.header.on nav .global li.logIn a{
	background: #2755FF;
	color: #fff;
}

/* header -- Main Redesign */
.header{
	background: rgba(255,255,255,1);
	backdrop-filter: blur(10px);
	/* box-shadow: rgba(0,0,0,0.2) 0 0 10px; */
}

.header .logo img{
	opacity: 1;
}

.header .logo img.logoOn{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.header.on .logo img.logoOn{
	opacity: 1;
}

.header nav .gnb li::after,
.header nav .gnb li:hover::after{
	background: #343C50;
}

.header nav .gnb li a{
	color: #111;
	font-weight: 800;
}

.header nav .global li.logIn a{
	background: #2755FF;
	color: #fff;
}

/* footer */
.footer{
	background: #343C50;
	padding: 35px 0;
}

.footer .fLogo{
	margin-bottom: 40px;
	width: 130px;
}

.footer .fLogo img{
	width: 100%;
}

.footer .fTxt{
	font-size: 14px;
	line-height: 1.4;
	color: #878c9c;
	margin-bottom: 40px;
}

.footer .fTxt strong{
	display: block;
	color: #fff;
	font-size: 16px;
	margin-bottom: 4px;
}

.footer .fLink{
	display: flex;
	margin-bottom: 5px;
}

.footer .fLink li{
	margin-right: 10px;
	padding-right: 10px;
	position: relative;
	line-height: 1;
	font-size: 16px;
}

.footer .fLink li::after{
	content: '';
	width: 1px;
	height: 14px;
	transform: translate(0,-50%);
	position: absolute;
	right: 0;
	top: 50%;
	background: rgba(255,255,255,0.4);
}

.footer .fLink li:last-child::after{
	display: none;
}

.footer .fLink li a{
	color: #fff;
}

.footer .copyright{
	font-size: 14px;
	line-height: 1.4;
	color: #878c9c;
	margin-bottom: 40px;
}


/* ----------------------------------------------------------------------------------responsive 1000px */
@media screen and (max-width: 1000px){
/* common */
.mb{
	display: block !important;
}

.pc{
	display: none !important;
}

body{
	overflow-x: hidden;
}

#wrap{
	overflow-x: hidden;
}

/* header */
.header{
	padding-top: 0px;
}

.header .inner{
	height: 64px;
}

.header .logo{
	width: 100px;
}

.header nav{
	display: none;
	position: fixed;
	top: calc(50px + 14px);
	left: 0;
	width: 100%;
	/* height: calc(100% - 80px - 44px); */
	/* height: 100%; */
	border-top: 1px solid #eee;
	background: #fff;
	padding-top: 10vw;
	overflow-y: auto;
}

.header nav .gnb{
	display: block;
	text-align: center;
	margin-right: 0;
	margin-bottom: 10vw;
}

.header nav .gnb li{
	margin-left: 0;
}

.header nav .gnb li a{
	font-size: 5vw;
	padding: 4vw 0;
	display: block;
}

.header nav .gnb li::after{
	display: none;
}

.header nav .global{
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
}

.header nav .global li{
	width: 100%;
}

.header nav .global li a{
	display: block;
	text-align: center;
	font-size: 4vw;
	padding: 5vw 0 !important;
}

.header nav .global li.logIn a{
	background: #2755FF;
}

.header nav .global li.join a{
	text-decoration: underline;
	font-weight: 600;
}

.header.open{
	background: #fff;
}

.header .menuBtn{
	width: 30px;
	height: 16px;
	position: relative;
	cursor: pointer;
}

.header .menuBtn span{
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 50%;
	transition: all 0.4s;
}

.header.on .menuBtn span{
	background: #111;
}

.header .menuBtn span:nth-child(1){
	top: 0;
	transform: translate(-50%,0);
}

.header .menuBtn span:nth-child(2){
	top: 50%;
	transform: translate(-50%,-50%);
}

.header .menuBtn span:nth-child(3){
	top: 100%;
	transform: translate(-50%,-100%);
}

.header .menuBtn.on span{
	width: 70%;
}

.header .menuBtn.on span:nth-child(1){
	top: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}

.header .menuBtn.on span:nth-child(2){
	opacity: 0;
}

.header .menuBtn.on span:nth-child(3){
	top: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}

/* header -- Main Redesign */
.header .menuBtn span{
	background: #111;
}

/* footer */
.footer{
	padding: 10vw 0;
}

.footer .fLogo{
	margin-bottom: 10vw;
	width: 35%;
}


}
/* ----------------------------------------------------------------------------------//responsive 1000px */